# OFFSET



One common question involving the OFFSET clause in SQL is about pagination. Pagination is the process of dividing a set of results into discrete pages. Here's an example:

Question: "How do you implement pagination using the OFFSET and LIMIT clauses in SQL?"

Answer: Pagination using OFFSET and LIMIT clauses is commonly used to display a subset of results in a user interface, such as displaying search results in web applications. Here's how you can implement pagination:

sql

In [1]:
%pip install jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [2]:
%load_ext sql

In [3]:
%%sql sqlite:// 
CREATE TABLE products (
    product_id SERIAL PRIMARY KEY,
    product_name VARCHAR(50)
);

Connecting to 'sqlite://'

++
||
++
++

In [4]:
%%sql sqlite:// 
INSERT INTO products (product_name) VALUES
('Product A'),
('Product B'),
('Product C'),
('Product D'),
('Product E'),
('Product F'),
('Product G'),
('Product H'),
('Product I'),
('Product J'),
('Product K');

11 rows affected.

++
||
++
++

In [13]:
%%sql sqlite://  
SELECT  * FROM products ORDER BY product_id LIMIT 5 OFFSET 5;

+------------+--------------+
| product_id | product_name |
+------------+--------------+
|    None    |  Product F   |
|    None    |  Product G   |
|    None    |  Product H   |
|    None    |  Product I   |
|    None    |  Product J   |
+------------+--------------+

In [10]:
%%sql sqlite://  
SELECT  * FROM products ORDER BY product_id LIMIT 5 OFFSET 10;

+------------+--------------+
| product_id | product_name |
+------------+--------------+
|    None    |  Product K   |
+------------+--------------+

In [ ]:
''' #!SECTION example 
-- Assuming we have a table named 'products' with columns 'product_id' and 'product_name'

-- To fetch the first page of results (e.g., first 10 products)
SELECT product_id, product_name
FROM products
ORDER BY product_id
LIMIT 10;

-- To fetch the second page of results (e.g., products 11 to 20)
SELECT product_id, product_name
FROM products
ORDER BY product_id
LIMIT 10 OFFSET 10;

-- To fetch the third page of results (e.g., products 21 to 30)
SELECT product_id, product_name
FROM products
ORDER BY product_id
LIMIT 10 OFFSET 20;

-- And so on...

#  '''