In [2]:
%pip install jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

In [3]:
%load_ext sql

In [4]:
%%sql sqlite://
 
-- Creating a new table with date values
CREATE TABLE person_location (
    ID INTEGER PRIMARY KEY,
    Name VARCHAR(50),
    City VARCHAR(50),
    Country VARCHAR(50),
    EventDate DATE
);

-- Inserting sample data with date values
INSERT INTO person_location (Name, City, Country, EventDate) VALUES
    ('Alice', 'New York', 'USA', '2024-02-27'),
    ('Bob', 'San Francisco', 'USA', '2024-03-15'),
    ('Charlie', 'Los Angeles', 'USA', '2024-04-02'),
    ('David', 'Chicago', 'USA', '2024-05-20'),
    ('Eva', 'Seattle', 'USA', '2024-06-10'),
    ('Frank', 'Boston', 'USA', '2024-07-01'),
    ('Grace', 'Denver', 'USA', '2024-08-15'),
    ('Harry', 'Miami', 'USA', '2024-09-05'),
    ('Ivy', 'Austin', 'USA', '2024-10-20'),
    ('Jack', 'Phoenix', 'USA', '2024-11-12');

Connecting to 'sqlite://'

10 rows affected.

++
||
++
++

In [6]:
%%sql sqlite://
SELECT UPPER(Name) from person_location;

+-------------+
| UPPER(Name) |
+-------------+
|    ALICE    |
|     BOB     |
|   CHARLIE   |
|    DAVID    |
|     EVA     |
|    FRANK    |
|    GRACE    |
|    HARRY    |
|     IVY     |
|     JACK    |
+-------------+
Truncated to displaylimit of 10.

In [8]:
%%sql sqlite://
SELECT lower(Name) from person_location;

+-------------+
| lower(Name) |
+-------------+
|    alice    |
|     bob     |
|   charlie   |
|    david    |
|     eva     |
|    frank    |
|    grace    |
|    harry    |
|     ivy     |
|     jack    |
+-------------+
Truncated to displaylimit of 10.

In [9]:
%%sql sqlite://
SELECT length(name) from person_location;

+--------------+
| length(name) |
+--------------+
|      5       |
|      3       |
|      7       |
|      5       |
|      3       |
|      5       |
|      5       |
|      5       |
|      3       |
|      4       |
+--------------+
Truncated to displaylimit of 10.

In [14]:
%%sql sqlite://
SELECT City , SUBSTRING(City,1,2) as subPart FROM person_location;

+---------------+---------+
|      City     | subPart |
+---------------+---------+
|    New York   |    Ne   |
| San Francisco |    Sa   |
|  Los Angeles  |    Lo   |
|    Chicago    |    Ch   |
|    Seattle    |    Se   |
|     Boston    |    Bo   |
|     Denver    |    De   |
|     Miami     |    Mi   |
|     Austin    |    Au   |
|    Phoenix    |    Ph   |
+---------------+---------+
Truncated to displaylimit of 10.

In [20]:
%%sql sqlite://
SELECT EventDate , strftime('%d/%m/%Y' , EventDate) as FormattedDate from person_location;

+------------+---------------+
| EventDate  | FormattedDate |
+------------+---------------+
| 2024-02-27 |   27/02/2024  |
| 2024-03-15 |   15/03/2024  |
| 2024-04-02 |   02/04/2024  |
| 2024-05-20 |   20/05/2024  |
| 2024-06-10 |   10/06/2024  |
| 2024-07-01 |   01/07/2024  |
| 2024-08-15 |   15/08/2024  |
| 2024-09-05 |   05/09/2024  |
| 2024-10-20 |   20/10/2024  |
| 2024-11-12 |   12/11/2024  |
+------------+---------------+
Truncated to displaylimit of 10.

In [23]:
%%sql sqlite://
#NOTE -  this one not supported -> SELECT CONCAT(Name ,',',City) as Person_with_location from person_location;
SELECT Name || ',' || City AS Person_with_location FROM person_location;

+----------------------+
| Person_with_location |
+----------------------+
|    Alice,New York    |
|  Bob,San Francisco   |
| Charlie,Los Angeles  |
|    David,Chicago     |
|     Eva,Seattle      |
|     Frank,Boston     |
|     Grace,Denver     |
|     Harry,Miami      |
|      Ivy,Austin      |
|     Jack,Phoenix     |
+----------------------+
Truncated to displaylimit of 10.

In [24]:
%%sql sqlite://
SELECT REPLACE (Country,'USA' , 'IND') FROM person_location;

+---------------------------------+
| REPLACE (Country,'USA' , 'IND') |
+---------------------------------+
|               IND               |
|               IND               |
|               IND               |
|               IND               |
|               IND               |
|               IND               |
|               IND               |
|               IND               |
|               IND               |
|               IND               |
+---------------------------------+
Truncated to displaylimit of 10.

In [26]:
%%sql sqlite://
#NOTE - Not supported -> SELECT TRIM(BOTH ' ' FROM City) FROM person_location;

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(sqlite3.OperationalError) near "' '": syntax error
[SQL: SELECT TRIM(BOTH ' ' FROM City) FROM person_location;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)

If you need help solving this issue, send us a message: https://ploomber.io/community