In [1]:
%pip install jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [2]:
%load_ext sql

In [4]:
%%sql sqlite:// 
CREATE TABLE students (
    student_id SERIAL PRIMARY KEY,
    student_name VARCHAR(50),
    age INT,
    department VARCHAR(50)
);
INSERT INTO students (student_name, age, department) VALUES
('John', 20, 'Computer Science'),
('Alice', 22, 'Mathematics'),
('Bob', 21, 'Physics'),
('Emma', 23, 'Chemistry');

4 rows affected.

++
||
++
++

eg use a subquery to find the names of students who are older than the average age:

In [ ]:
%%sql sqlite:// 
SELECT student_name
FROM students
WHERE age > (SELECT AVG(age) FROM students);

popular example

SELECT customer_name
FROM customers
WHERE customer_id IN (
    SELECT customer_id
    FROM orders
    GROUP BY customer_id
    HAVING SUM(order_amount) > (
        SELECT AVG(order_amount)
        FROM orders
    )
);