In [1]:
%pip install jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

DEPRECATION: textract 1.6.5 has a non-standard dependency specifier extract-msg<=0.29.*. pip 23.3 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of textract or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

In [2]:
%load_ext sql

Deploy Dash apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

In [3]:
%%sql sqlite://
-- Create the sales table (if not created)
CREATE TABLE sales (
  id INT PRIMARY KEY,
  product_name VARCHAR(255),
  sale_timestamp TIMESTAMP,
  quantity INT,
  amount DECIMAL(10, 2)
);

-- Insert some sample data
INSERT INTO sales (id, product_name, sale_timestamp, quantity, amount)
VALUES
  (1, 'Product A', '2022-01-01 08:30:00', 10, 500.00),
  (2, 'Product B', '2022-01-02 12:45:00', 5, 250.50),
  (3, 'Product C', '2022-01-03 10:15:00', 8, 700.75),
  (4, 'Product A', '2022-01-04 14:00:00', 12, 600.00),
  (5, 'Product B', '2022-01-05 09:45:00', 7, 350.25);

Connecting to 'sqlite://'

5 rows affected.

++
||
++
++

## Use Extract FUNCTION

`The EXTRACT() function extracts a part from a given date value.
Syntax: SELECT EXTRACT(MONTH FROM date_field) FROM Table
• YEAR
• QUARTER
• MONTH
• WEEK
• DAY
• HOUR
• MINUTE
• DOW – day of week
• DOY – day of year`

In [8]:
%%sql sqlite://
-- Use EXTRACT to get the day and hour from the sale_timestamp
SELECT id, product_name,
EXTRACT(DAY FROM sale_timestamp) as sales_day,
EXTRACT(HOUR FROM sale_timestamp) as sales_hour 
FROM  sales;

+----+--------------+-----------+------------+
| id | product_name | sales_day | sales_hour |
+----+--------------+-----------+------------+
| 1  |  Product A   |     1     |     8      |
| 2  |  Product B   |     2     |     12     |
| 3  |  Product C   |     3     |     10     |
| 4  |  Product A   |     4     |     14     |
| 5  |  Product B   |     5     |     9      |
+----+--------------+-----------+------------+